<!DOCTYPE html>
<html xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Login Form</title>

<link rel="stylesheet" href="../static/mylove/css/normalize.css">
<link rel="stylesheet" href="../static/mylove/css/login.css">
	<link rel="stylesheet" href="../static/mylove/js/jquery.js">
</head>
<script>
	$(function(){

		$("#button").click(function(){

		    $.ajax({
				url:"",
				data:{},
				type:"post",
				dataType:"json",
				success:function(obj){

				}
			})
        })
    })

</script>
<body>

<div class="login">
	<h1>Login</h1>
	<form method="post">
		<input id="username" type="text" name="u" placeholder="用户名" required="required" value="admin"/>
		<input id="password" type="password" name="p" placeholder="密码" required="required" value="123"/>
		<button id="button" class="btn btn-primary btn-block btn-large" onclick="window.location.href='www.baidu.com'" >登录</button>
	</form>
</div>

<div style="text-align:center;">
</div>

</body>
</html>
